body {
    width:960px;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
    background: #FFFFFF;
    font-size: 0.8em;
}

div, footer, ul {
    background-color: silver; 
}

header ul {
    list-style-type: none;
}

/* GRID */
header, section, main, footer {
    margin-bottom: 10px;
    display: grid;
    grid-gap: 20px;
}

header {
    grid-template: 60px/180px 1fr;
    grid-gap: 20px;
}

header ul {
    height: 40px;
    align-self: center;
    justify-self: end;
    align-items: center;
}

header ul li {
    display: inline-block;
    width: 80px;
}

header ul li a {
    margin: 12px;
    display: inline-block;
    text-decoration: none;
}

section {
    grid-template: 240px/1fr;
}

main {
    grid-template: 150px/repeat(2, 1fr);
    align-content: center;
    justify-content: space-between;
}

footer {
    justify-items: center;
}

